.Users {
    display: grid;
    margin: 10px;
    grid-gap: 10px;
    color: #fff;
}

.user {
    display: grid;
    grid-template-columns: 120px 8fr;
    grid-gap: 10px;
}

.user .subscribe {
    background-color: #34495E;
}

.user .subscribe .imgWrapper {
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.user .subscribe .imgWrapper img {
    height: 100%;
}

.user .userData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #34495E;
}

.user .userData > div {
    display: grid;
}



