.navbar {
    grid-area: navbar;
    background-color: #34495E;
    padding: 20px;

    .item {
        margin-bottom: 10px;

        a {
            text-decoration: none;
            color: #fff;

            &.active {
                color: #F1C40F;
            }
        }
    }
}


