.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          'header header'
          'navbar content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.content {
  grid-area: content;
  background-color: #3498DB;
  display: grid;
  grid-gap: 10px;
}